@import 'src/styles/variables';

.dropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: $white;
  max-height: 90px;
  min-width: 100px;
  box-shadow: 0 2px 4px 1px $grey-light;
  border-radius: 5px;
  padding: 0;
  margin: 0;

  li, div {
    padding: 5px 10px;
    cursor: pointer;
    color: $grey-dark;
    list-style-type: none;

    &:hover,
    &:active {
      background: $grey-light;
    }
  }
}
