// Рамка активного инпута
$blue-dark: #1568b0;

// Выбранный айтем дропдауна
$blue: #d0e0ef;

// Активный и выбранный айтем дропдауна
$blue-grey: #a6b3bf;

// Бэкграунд активной позиции в выпадающем списке
$grey-light: #f2f2f2;

// Плейсхолдер инпута, неактивная рамка инпута
$grey: #b2b2b2;

// Ховер, неактивные бордеры, иконка
$grey-dark: #646464;

// Фон выпадающего списка
$white: #ffffff;

// Цвет текста выпадающего списка
$almost-black: #1f1f1f;
