// Рамка активного инпута
$blue-dark: #1568b0;

// Активный айтем дропдауна
$blue: #D0E0EF;

// Бэкграунд активной позиции в выпадающем списке
$grey: #f0f0f0;

// Ховер, неактивные бордеры, иконка
$grey-dark: #646464;

// Фон выпадающего списка
$white: #FFFFFF;

// Цвет текста выпадающего списка
$almost-black: #1f1f1f;
