// Рамка активного инпута
$blue-dark: #0F4C81;

// Бэкграунд активной позиции в выпадающем списке
$grey: #BDBDBD;

// Ховер, неактивные бордеры, иконка
$grey-dark: #585858;

// Фон выпадающего списка
$white: #FFFFFF;

// Цвет текста выпадающего списка
$almost-black: #1f1f1f;
