@import 'src/styles/variables';

.is-hover.active-item:hover {
  background: $grey-light;
}

.is-hover.change-item {
  &:hover,
  &:active {
    background: $blue-grey;
  }
}

li.is-hover{
  &:hover,
  &:active {
    background: $grey-light;
  }
}

.active-item{
  background: $grey-light;
}

.active-change-item {
  background: $blue-grey;
}

li.change-item {
  background: $blue;
}
