@import 'src/styles/variables';

.active-item,
.active-item:hover {
  background: $grey-light;
}

.active-change-item {
  background: $blue-grey;
}

li.change-item {
  background: $blue;

  &:hover,
  &:active {
    background: $blue-grey;
  }
}
